.card-parent{
  position: relative;
  top: 70px;
}

.pad-cards{
  padding-top: 4em;
}

.text-align{
  text-align: -webkit-center;
}
.bg-light-blue{
   background-color: white;
   padding-top: 10em;
}
.bg-trans{
  background-color: transparent;
}
.bg-light-yellow{
  background-color: rgb(201, 157, 36);
}
.bg-purple{
  background: rgb(87, 3, 87);
}
.purp-line{
  height:15px;
  background-color: purple;
}

.text-white{
  color: white
}

.text-grey{
  color: rgb(126, 123, 123);
}

.top-pads{
  padding-top: 5em;
  padding-bottom: 3em;
  padding-right: 3em;
  padding-left: 3em;
}

.middle-pads{
  padding-top: 3em;
}
.white-bar{
  padding-top: 10em;
background-color: purple
}

.circle{
  border-radius:50%;
  width:100px;
  height:100px;
  font-size:14px;
  border:1.5px solid rgb(255, 255, 255);
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
}
.button-1{
  width:90%;
  background-color: purple;
}
.btn-fix{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 30%;
  right: 30%;
}
.picture-sizing{
  width: 300px;
  height: 300px;
}
.no-border{
  border: 0px;
}
.top-bg{
background: rgb(255,255,255);
background: linear-gradient(27deg, rgba(255,255,255,1) 63%, rgba(85,61,144,1) 71%, rgba(107,79,163,1) 82%, rgba(85,61,144,1) 95%);
}
.side-padding{
  padding-left: 20px;
  padding-right: 25px;
}
